@import 'base';
@import 'index';
@import 'party-item';

.equip-list, .forge-rep {
  padding: 4px;
  .name {
    font-size: 16px;
    color: #000;
  }
  .amounts {
    margin: 4px 0;
    span {
      font-size: 12px;
      margin-right: 6px;
    }
  }
}
