<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TRH Final</title>
  <link rel="stylesheet" href="../../static/style/normalize.css">
  <link rel="stylesheet" href="../../static/style/appmain.css">
</head>
<body>
  <div id="app">
    <div class="top-nav">
      <resource-panel></resource-panel>
      <div class="switch-tab">
        <router-link class="main-menu" to="/party">
          <div class="menu-cover">
            队伍
          </div>
          <div class="menu-inner" v-for='i in 4' :key="i" :data-party="i" @click="partyScroll(i)">
            第{{i}}部隊
            <small v-if="party.parties[i]">
              A.<span>{{party.parties[i].averageLevel}}</span> / T.<span>{{party.parties[i].totalLevel}}</span>
            </small>
            <small v-else>暂未获取</small>
          </div>
        </router-link>
        <router-link class="main-menu" to="/other">
          <div class="menu-cover">
            本丸
          </div>
          <div class="menu-inner" @click="">
            刀帐
          </div>
          <div class="menu-inner" @click="">
            刀装&马
          </div>
          <div class="menu-inner" @click="">
            锻刀室
          </div>
          <div class="menu-inner" @click="">
            手入室
          </div>
        </router-link>
        <router-link class="main-menu" to="/extra">
          <div class="menu-cover">
            记录
          </div>
          <div class="menu-inner" @click="">
            锻刀记录
          </div>
          <div class="menu-inner" @click="">
            战斗记录
          </div>
        </router-link>
        <router-link class="main-menu" to="/setting">
          <div class="menu-cover">
            设置
          </div>
        </router-link>
      </div>
    </div>
    <div class="view-content">
      <router-view name="party-list-wrapper"></router-view>
      <!-- Default -->
      <router-view></router-view>
    </div>
    <div v-if="!devtools" style="position: fixed; bottom: 0; right: 0; z-index: 99999;">
      <button @click="nextData" :disabled="testDataIndex === testDataCount">Next ({{testDataIndex}} / {{testDataCount}})</button>
      <button @click="autoData" :disabled="testDataIndex === testDataCount">Auto</button>
    </div>
    <div v-else style="position: fixed; bottom: 0; right: 0; z-index: 99999;">
      <button @click="dataRec">{{ rec ? 'Stop Rec' : 'Start Rec'}}</button>
      <button @click="dataExport">Export</button>
    </div>
    <!-- {{dataLoaded}} -->
    <notice-content></notice-content>
    <div class="check-data" v-if="!_.every(dataLoaded) || _.isEmpty(swords.serial)">
      <div class="check-title">婶婶忙 · 初始化</div>
      <div class="check-item">
        <div class="check-item-title">
          <span v-if="_.every(dataLoaded)">[已取得]</span>
          <span v-else>[等待中]</span>
          游戏设定数据
        </div>
        <p>* 请在开启插件的状态下刷新游戏页面重新进入游戏</p>
      </div>
      <div class="check-item" v-if="_.every(dataLoaded)">
        <div class="check-item-title">
          <span v-if="!_.isEmpty(swords.serial)">[已取得]</span>
          <span v-else>[等待中]</span>
          游戏基础数据
        </div>
        <p>* 请访问结成页面，如果已经处于结成页面请回到本丸重新进入</p>
      </div>
    </div>
  </div>

  <!-- Notice template -->
  <script id="notice-template" type="text/template">
    <div id="notice">
      <transition-group name="notice-block-list" tag="div">
        <div class="notice-block" v-for="n in notice.history" v-if="!n.hidden" :key="n._id" @click="close(n)">
          <div class="notice-image">
            <img :src="n.swordBaseId | sword-pattern" alt="空">
          </div>
          <div class="notice-content">
            <div class="notice-title" v-html="n.title"></div>
            <div class="notice-message" v-html="n.message"></div>
            <div class="notice-context" v-html="n.context"></div>
          </div>
        </div>
      </transition-group>
    </div>
  </script>

  <!-- Component Resouce Panel -->
  <script id="resource-panel" type="text/template">
    <div class="resource">
      <ul>
        <li>
          <div class="k">审神者</div>
          <div class="v">{{ player.name || '暂未获取' }}  <small>(Lv.{{ player.level || 'N/A' }})</small></div>
        </li>
      </ul>
      <ul class="fr">
        <li><div class="k">木炭</div><div class="v">{{ resource.charcoal || 'N/A' }}</div></li>
        <li><div class="k">玉鋼</div><div class="v">{{ resource.steel || 'N/A' }}</div></li>
        <li><div class="k">冷却</div><div class="v">{{ resource.coolant || 'N/A' }}</div></li>
        <li><div class="k">砥石</div><div class="v">{{ resource.file || 'N/A' }}</div></li>
        <li><div class="k">依頼</div><div class="v">{{ resource.bill || 'N/A' }}</div></li>
      </ul>
    </div>
  </script>
  
  <!-- Component Party List -->
  <script id="party-list" type="text/template">
    <div v-if="!_.isEmpty(party) && party.status" class="party-list" :id="'party-' + party.party_no">
      <div class="party-info">
        <div class="party-name">{{ party.party_name }} <small v-if="party.status == 2">[{{party.status | party-status}}][{{party.finished_at | party-finished_at}}]</small><small v-if="party.status > 2">[{{party.status | party-status}}]</small></div>
        <div class="party-level">
          A.<span>{{party.averageLevel}}</span> / T.<span>{{party.totalLevel}}</span>
        </div>
      </div>
      <sword-item v-for="sword in party.slot" :sword-serial-id="sword.serial_id" :key="sword.serial_id"></sword-item>
    </div>
  </script>

  <!-- Component Sword Item -->
  <script id="sword-item" type="text/template">
    <div v-if="sword.serial_id" class="touken-info" :class="sword.injury | status-cname">
      <img :src="sword.baseId | sword-pattern" alt="空" class="pattern">
      <div class="info">
        <div class="name">{{sword.name}} <span v-if="sword.inBattle || sword.injury">[{{sword.injury | battle-status-text}}]</span></div>
        <div class="hp">HP <span>{{sword.hp}} / {{sword.hp_max}}</span><span v-if="!sword.inBattle && (sword.injury && sword.status != 0 )">[{{sword.status | status-text}}]</span></div>
        <div class="level">Lv.{{sword.level}}<small>(next {{sword.nextExp}})</small></div>
        <div class="fatigue" :class="sword.fatigueFlag | fatigue-cname">{{sword.fatigueFlag | fatigue-text}} {{sword.vfatigue}} <small>{{sword.fatigueFlag | fatigue-buff}}</small></div>
        <div class="horse">{{ equipSerialName(sword.horse_serial_id) }}</div>
        <div class="equip">
          <ul>
            <equip-item v-for="equip in sword.equips" :equip-serial-id="equip" :in-battle="sword.inBattle" :key="equip"></equip-item>
          </ul>
        </div>
      </div>
    </div>
    <div class="touken-info" v-else-if="_.isNull(swordSerialId)">
      <img src="../../static/sword/0.png" alt="空" class="pattern">
      <div class="info"><div class="name">暂无队员</div></div>
    </div>
    <div class="touken-info danger" v-else>
      <img src="../../static/sword/0.png" alt="空" class="pattern">
      <div class="info"><div class="name">数据错误</div></div>
    </div>
  </script>

  <!-- Component Equip Item -->
  <script id="equip-item" type="text/template">
    <li v-if="equip === null">空</li>
    <li v-else-if="equip.serial_id" :class="equip.level | equip-level-cname">{{equip.name | equipName}} [{{inBattle ? equip.hp : equip.hp_max}}/{{equip.hp_max}}]</li>
    <li v-else-if="_.isNull(equipSerialId) || equipSerialId === 0">空</li>
    <li v-else>数据错误</li>
  </script>

  <script id="other" type="text/template">
    <div>
      <div>
       <a href="../extra/overview/index.html" target="_blank">刀帐</a>
      </div>
      <div>
        刀装&马
      </div>
      <div>
        锻刀室
        <div>{{forge.slot_no}}: <span>{{forge.sword_id || forge-sword_id}}</span><span>{{forge.finished_at}}</span></div>
      </div>
      <div>
        手入室
      </div>
    </div>
  </script>

  <script id="extra" type="text/template">
    <div>
      <div>
        锻刀记录
      </div>
      <div>
        战斗记录
      </div>
    </div>
  </script>

  <script id="setting" type="text/template">
    <div>
      <div>
        刀纹／q版设置
      </div>
      <div>
        近侍设置
      </div>
      <div>
        关于
      </div>
    </div>
  </script>

  <!-- Vue -->
  <script src="../../vendor/vue.js"></script>
  <script src="../../vendor/vuex.js"></script>
  <script src="../../vendor/vue-router.js"></script>
  <!-- Library -->
  <script src="../../vendor/jquery.js"></script>
  <script src="../../vendor/lodash.js"></script>
  <script src="../../vendor/bluebird.min.js"></script>
  <script src="../../vendor/moment.min.js"></script>
  <!-- ZLib -->
  <script src="../../vendor/pako.min.js"></script>
  <!-- Crypto -->
  <script src="../../vendor/aes.js"></script>
  <script src="../../vendor/mode-ecb.js"></script>
  <script src="../../vendor/lib-typedarrays.js"></script>
  <script src="../../vendor/pad-nopadding-min.js"></script>
  <!-- Data -->
  <script src="../../vendor/FileSaver.js"></script>
  <script src="../../vendor/localforage.min.js"></script>
  <!-- Util -->
  <script src="util/filter.js"></script>
  <script src="util/data.js"></script>
  <!-- app -->
  <script data-main="loader" src="../../vendor/require.js"></script>
</body>
</html>