<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TRH Final</title>
  <link rel="stylesheet" href="../../static/style/normalize.css">
  <link rel="stylesheet" href="../../static/style/appmain.css">
</head>
<body>
  <div id="app">
    <div class="top-nav">
      <resource-panel></resource-panel>
      <div class="switch-tab">
        <router-link class="main-menu" to="/party">
          <div class="menu-cover">
            部隊
          </div>
          <div class="menu-inner party" v-for='i in 4' :key="i" :data-party="i" @click="scroll('party-' + i)">
            第{{ i }}部隊<br>
            <small v-if="party.parties[i]">
              A.<span>{{ party.parties[i].averageLevel }}</span> / T.<span>{{ party.parties[i].totalLevel }}</span>
            </small>
            <small v-else>暂未获取</small>
          </div>
        </router-link>
        <router-link class="main-menu" to="/enemy">
          <div class="menu-cover">
            敵情報
          </div>
          <div class="menu-inner" @click="scroll('battle')">
            戦闘
          </div>
          <div class="menu-inner" @click="scroll('practice')">
            演練
          </div>
        </router-link>
        <router-link class="main-menu" to="/other">
          <div class="menu-cover">
            本丸
          </div>
          <div class="menu-inner" @click="scroll('equip')">
            刀装&amp;馬
          </div>
          <div class="menu-inner" @click="scroll('forge')">
            锻刀&amp;手入
          </div>
          <div class="menu-inner" @click="scroll('all-swords')">
            刀帳
          </div>
          <div class="menu-inner" @click="scroll('duty')">
            内番&amp;修行
          </div>
          <div class="menu-inner" @click="scroll('item')">
            所持道具
          </div>
          <!--<div class="menu-inner" @click="scroll('enemy-list')">
            敵数値一覧
          </div>-->
        </router-link>
        <router-link class="main-menu" to="/extra">
          <div class="menu-cover">
            記錄
          </div>
          <div class="menu-inner" @click="scroll('forge-log')">
            锻刀記錄
          </div>
          <div class="menu-inner" @click="scroll('battle-log')">
            交戦記録
          </div>
          <div class="menu-inner" @click="scroll('practice-log')">
            演練記録
          </div>
        </router-link>
        <router-link class="main-menu" to="/setting">
          <div class="menu-cover">
            設定
          </div>
          <div class="menu-inner" @click="scroll('setSecretary')">
            設定
          </div>
          <div class="menu-inner" @click="scroll('about')">
            关于
          </div>
        </router-link>
      </div>
    </div>
    <div class="view-content">
      <router-view name="party-list-wrapper"></router-view>
      <!-- Default -->
      <router-view></router-view>
    </div>
    <!-- {{ dataLoaded }} -->
    <notice-content></notice-content>
    <div class="check-data" v-if="!_.every(dataLoaded) || _.isEmpty(swords.serial)">
      <div class="check-title">婶婶忙 · 初始化</div>
      <div class="check-item">
        <div class="check-item-title">
          <span v-if="_.every(dataLoaded)">[已取得]</span>
          <span v-else>[等待中]</span>
          游戏设定数据
        </div>
        <p>* 请在开启插件的状态下刷新游戏页面重新进入游戏</p>
      </div>
      <div class="check-item" v-if="_.every(dataLoaded)">
        <div class="check-item-title">
          <span v-if="!_.isEmpty(swords.serial)">[已取得]</span>
          <span v-else>[等待中]</span>
          游戏基础数据
        </div>
        <p>* 请访问结成页面，如果已经处于结成页面请回到本丸重新进入</p>
      </div>
    </div>
  </div>

  <!-- Notice template -->
  <script id="notice-template" type="text/template">
    <div id="notice">
      <transition-group name="notice-block-list" tag="div">
        <div class="notice-block" v-for="n in notice.history" v-if="!n.hidden" :key="n._id" @click="close(n)">
          <div class="notice-image">
            <img :src="n.swordBaseId | sword-pattern" alt="空">
          </div>
          <div class="notice-content">
            <div class="notice-title" v-html="n.title"></div>
            <div class="notice-message" v-html="n.message"></div>
            <div class="notice-context" v-html="n.context"></div>
          </div>
        </div>
      </transition-group>
    </div>
  </script>

  <!-- Component Resouce Panel -->
  <script id="resource-panel" type="text/template">
    <div class="resource">
      <ul>
        <li>
          <div class="k">审神者</div>
          <div class="v">{{ player.name || '' }}  <small>(Lv.{{ player.level || 'N/A' }})</small></div>
        </li>
      </ul>
      <ul class="fr">
        <li><div class="k">木炭</div><div class="v">{{ resource.charcoal || 'N/A' }}</div></li>
        <li><div class="k">玉鋼</div><div class="v">{{ resource.steel || 'N/A' }}</div></li>
        <li><div class="k">冷却</div><div class="v">{{ resource.coolant || 'N/A' }}</div></li>
        <li><div class="k">砥石</div><div class="v">{{ resource.file || 'N/A' }}</div></li>
        <li><div class="k">依頼</div><div class="v">{{ resource.bill || 'N/A' }}</div></li>
        <li><div class="k">手伝</div><div class="v">{{ item.consumable["8"]["num"] || 'N/A' }}</div></li>
        <li><div class="k">小判</div><div class="v">{{ resource.money || 'N/A'}}</div></li>
      </ul>
    </div>
  </script>

  <!-- Component Party List -->
  <script id="party-list" type="text/template">
    <div v-if="!_.isEmpty(party) && party.status" class="party-list" :id="'party-' + party.party_no">
      <div class="party-info">
        <div class="party-name">{{ party.party_name }} <small v-if="party.status == 2">[{{ party.status | party-status }}][{{ party.finished_at | hhmmss }}]</small><small v-if="party.status > 2">[{{ party.status | party-status }}]</small></div>
        <div class="party-level">
          A.<span>{{ party.averageLevel }}</span> / T.<span>{{ party.totalLevel }}</span>
        </div>
      </div>
      <sword-item v-for="sword in party.slot" :sword-serial-id="sword.serial_id" :key="sword.serial_id"></sword-item>
    </div>
  </script>

  <!-- Component Sword Item -->
  <script id="sword-item" type="text/template">
    <div v-if="sword.serial_id" class="touken-info" :class="sword.injury | status-cname">
      <img :src="sword.sword_id | sword-pattern" alt="空" class="pattern">
      <div class="info">
        <div class="name">{{ sword.name }}<span v-if="sword.inBattle || sword.injury">[{{ sword.injury | battle-status-text }}]</span></div>
        <div class="hp">HP <span>{{ sword.hp }} / {{ sword.hp_max }}</span><span v-if="!sword.inBattle && (sword.injury && sword.status != 0 )">[{{ sword.status | status-text }}]</span></div>
        <div class="level">Lv.{{ sword.level }}<small>(next {{ sword.nextExp }})</small></div>
        <div class="fatigue" :class="sword.fatigueFlag | fatigue-cname" v-if="sword.inBattle">{{ sword.fatigueFlag | fatigue-text }} {{ sword.battleFatigue }} <small>{{ sword.fatigueFlag | fatigue-buff }}</small></div>
        <div class="fatigue" :class="sword.fatigueFlag | fatigue-cname" v-else>{{ sword.fatigueFlag | fatigue-text }} {{ sword.vfatigue }} <small>{{ sword.fatigueFlag | fatigue-buff }}</small></div>
        <div class="horse">{{ sword.horse_serial_id | equip-serial-name }}</div>
        <div class="equip">
          <ul>
            <equip-item v-for="equip in sword.equips" :equip-serial-id="equip" :in-battle="sword.inBattle" :key="equip"></equip-item>
          </ul>
        </div>
      </div>
    </div>
    <div class="touken-info" v-else-if="_.isNull(swordSerialId)">
      <img src="../../static/sword/0.png" alt="空" class="pattern">
      <div class="info"><div class="name">暂无队员</div></div>
    </div>
    <div class="touken-info danger" v-else>
      <img src="../../static/sword/0.png" alt="空" class="pattern">
      <div class="info"><div class="name">数据错误</div></div>
    </div>
  </script>

  <!-- Component Equip Item -->
  <script id="equip-item" type="text/template">
    <li v-if="equip === null">空</li>
    <li v-else-if="equip.serial_id" :class="equip.hp === 0 ? 0 : equip.level | equip-level-cname">{{ equip.name | equip-name-format }} [{{ inBattle ? equip.hp : equip.hp_max }}/{{ equip.hp_max }}]</li>
    <li v-else-if="_.isNull(equipSerialId) || equipSerialId === 0">空</li>
    <li v-else>数据错误</li>
  </script>

  <!-- Component Forge Item -->
  <script id="forge-item" type="text/template">
    <div>{{ forge.slot_no }}: <span>{{ forge.sword_id | sword-name }}</span><span>[{{ forge.finished_at | hhmmss }}]</span></div>
  </script>

  <!-- Component Repair Item -->
  <script id="repair-item" type="text/template">
    <div>{{ repair.slot_no }}: <span>{{ repair.sword_serial_id | sword-serial-name }}</span><span>[{{ repair.finished_at | MMDDhhmmss }}]</span></div>
  </script>

  <script id="enemy" type='text/template'>
    <div>
      <div class="logo"></div>
      <div class="title" id="battle">· 戦闘 ·</div>
      <div class="party-info">
      <div>出阵地图：{{sally.episode_id || '-'}}-{{sally.field_id || '-'}}</div>
      <img v-if="sally.episode_id != null && sally.field_id != null && sally.layer_num != null" :src="sally.episode_id + '_' + sally.field_id + '_' + sally.layer_num | map-pattern" alt="空" class="mapPattern">
      <div>
        <div style="float:left; width:50%;">层数：{{sally.layer_num || '-'}}</div>
        <div v-if="sally.category===3" style="float:left; width:50%;">战斗点ID：<span style="color: red;">{{sally.square_id || '-'}}(Boss)</span></div>
        <div v-else style="float:left; width:50%;">战斗点ID：{{sally.square_id || '-'}}</div>
      </div>
      
      <div class="party-name">敌方队伍：</div>
      <div v-if="battle_enemy.party[1].sword_id!=null && battle_enemy.party[1].sword_id!=0">阵型：{{ battle_enemy.formation_id | formation-name }}</div>
      <div v-else-if="battle_scout.enemy[0]!=null && battle_scout.enemy[0]!=0">阵型：{{ battle_scout.formation_id | formation-name }}</div>
      <div v-if="battle_enemy.party[1].sword_id!=null && battle_enemy.party[1].sword_id!=0" class="party-list">
        <div v-for="enemy_sword in battle_enemy.party" v-if="enemy_sword.sword_id!=null && enemy_sword.sword_id!=0">
          <div class="touken-info" style="min-width: 474px;">
            <img :src="enemy_sword.sword_id | enemy-sword-pattern" alt="空" class="enemyPattern">
            <div class="info" style="left: 198px">
              <div class="name" v-if="enemyList[enemy_sword.sword_id].mobile>=100" style="color:red;">{{ enemy_sword.sword_id | sword-name}}<small>({{enemy_sword.sword_id}})</small></div>
              <div class="name" v-else>{{ enemy_sword.sword_id | sword-name}}<small>({{enemy_sword.sword_id}})</small></div>
              <div class="hp">HP {{ enemy_sword.sword_id | sword-hp}}</div>
              <div class="level"></div>
              <div class="level"></div>
              <div class="equip">
                <ul>
                  <li v-if="enemy_sword.equip_id1===null || enemy_sword.equip_id1===0">空</li>
                  <li v-else :class="enemy_sword.equip_id1 | equip-level-name">{{ enemy_sword.equip_id1 | equip-name | equip-name-format}}</li>
                </ul>
                <ul>
                  <li v-if="enemy_sword.equip_id2===null || enemy_sword.equip_id2===0">空</li>
                  <li v-else :class="enemy_sword.equip_id2 | equip-level-name">{{ enemy_sword.equip_id2 | equip-name | equip-name-format}}</li>
                </ul>
                <ul>
                  <li v-if="enemy_sword.equip_id3===null || enemy_sword.equip_id3===0">空</li>
                  <li v-else :class="enemy_sword.equip_id3 | equip-level-name">{{ enemy_sword.equip_id3 | equip-name | equip-name-format}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else-if="battle_scout.enemy[0]!=null && battle_scout.enemy[0]!=0" class="party-list">
        <div v-for="enemy_sword_id in battle_scout.enemy" v-if="enemy_sword_id!=null && enemy_sword_id!=0">
          <div class="touken-info" style="min-width: 474px;">
            <img :src="enemy_sword_id | enemy-sword-pattern" alt="空" class="enemyPattern">
            <div class="info" style="left: 198px">
              <div class="name" v-if="enemyList[enemy_sword_id].mobile>=100" style="color:red;">{{ enemy_sword_id | sword-name}}({{enemy_sword_id}})</div>
              <div class="name" v-else>{{ enemy_sword_id | sword-name}}({{enemy_sword_id}})</div>
              <div class="hp">HP {{ enemy_sword_id | sword-hp}}</div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="title" id="practice">· 演練 ·</div>
      <div v-if="practice_enemy_party != null" v-for="enemy_sword in practice_enemy_party.slot" class="party-list">
        <div v-if="enemy_sword.serial_id" class="touken-info">
          <img :src="practice_enemy_sword[enemy_sword.serial_id].sword_id | sword-pattern" alt="空" class="pattern">
          <div class="info">
            <div class="name">{{ practice_enemy_sword[enemy_sword.serial_id].name }}</div>
            <div class="level">Lv.{{ practice_enemy_sword[enemy_sword.serial_id].level }}</div>
            <div class="level"> </div>
            <div class="horse">{{ practice_enemy_sword[enemy_sword.serial_id].horse_serial_id | practice-enemy-equip-serial-name }}</div>
            <div class="equip">
              <ul v-for="equip in practice_enemy_sword[enemy_sword.serial_id].equips">
                <li v-if="equip === null || equip === 0">空</li>
                <li v-else-if="practice_enemy_equip[equip].serial_id" :class="practice_enemy_equip[equip].level | equip-level-cname">{{ practice_enemy_equip[equip].name | equip-name-format }} </li>
                <li v-else>数据错误</li>
              </ul>
            </div>
          </div>
        </div>
        <!--{{practice_enemy_sword[enemy_sword.serial_id].name}}-->
        <div class="touken-info" v-else-if="enemy_sword.serial_id === null || enemy_sword.serial_id === 0">
          <img src="../../static/sword/0.png" alt="空" class="pattern">
          <div class="info"><div class="name">暂无队员</div></div>
        </div>
        <div class="touken-info danger" v-else>
          <img src="../../static/sword/0.png" alt="空" class="pattern">
          <div class="info"><div class="name">数据错误</div></div>
        </div>
      </div>
    </div>
  </script>

  <script id="other" type="text/template">
    <div class="info-page">
      <div class="logo"></div>
      <div class="title" id="equip">· 刀装一覧 ·</div>
      <div class="data-table">
        <table>
          <thead>
            <tr>
              <th>分類</th>
              <th title="兵力">兵</th>
              <th title="打撃">打</th>
              <th title="統率">統</th>
              <th title="機動">機</th>
              <th title="衝力">衝</th>
              <th title="偵察">偵</th>
              <th title="隠蔽">隠</th>
              <th>持有数</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="eq in equipList.equip">
              <td>{{ eq.name }}</td>
              <td>{{ eq.soldier || '-' }}</td>
              <td>{{ eq.atk || '-' }}</td>
              <td>{{ eq.def || '-' }}</td>
              <td>{{ eq.mobility || '-' }}</td>
              <td>{{ eq.back || '-' }}</td>
              <td>{{ eq.scout || '-' }}</td>
              <td>{{ eq.hide || '-' }}</td>
              <td>{{ eq.count || '-' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="title" id="horse">· 馬一覧 ·</div>
      <div class="data-table">
        <table>
          <thead>
            <tr>
              <th>分類</th>
              <th title="打撃">打</th>
              <th title="統率">統</th>
              <th title="機動">機</th>
              <th title="衝力">衝</th>
              <th title="偵察">偵</th>
              <th title="隠蔽">隠</th>
              <th>装備中</th>
              <th>持有数</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="eq in equipList.horse">
              <td>{{ eq.name.replace(/\d+/, '') }}</td>
              <td>{{ eq.atk || '-' }}</td>
              <td>{{ eq.def || '-' }}</td>
              <td>{{ eq.mobility || '-' }}</td>
              <td>{{ eq.back || '-' }}</td>
              <td>{{ eq.scout || '-' }}</td>
              <td>{{ eq.hide || '-' }}</td>
              <td>{{ eq.owner || '-' }}</td>
              <td>{{ eq.count || '-' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="title" id="forge">
        · 锻刀室 ·
        <forge-item v-for='f in forge.slot' :slot-no="f.slot_no" :key="f.slot_no"></forge-item>
      </div>
      <div class="title">
        · 手入室 ·
        <repair-item v-for='r in repair.slot' :slot-no="r.slot_no" :key="r.slot_no"></repair-item>
      </div>
      <div class="title" id="all-swords">· 刀帳 ·</div>
      <div class="title"><small>图鉴收集</small></div>
      <div class="data-table" v-if="album.serial">
        <table  v-if="album.serial">
          <thead>
            <tr>
              <th>番号</th>
              <th>刀名</th>
              <th>真剑未收</th>
              <th>内番未收</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for='sw in album.serial' v-if="!sw.all_img_flg">
            <td>{{ sw.sword_id }}</td>
            <td>{{ sw.name }}</td>
            <td>{{ sw.serious_img_flg | not-flg }}</td>
            <td>{{ sw.work_img_flg | not-flg }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="title"><small>所持刀剣</small></div>
      <div class="data-table all-swords">
        <div class="option">
          <span class="switcher" :class="{active: !option.info}" @click="option.info = !option.info">信息</span>
          <span class="switcher" :class="{active: !option.value}" @click="option.value = !option.value">属性</span>
          <span class="switcher" :class="{active: !option.equip}" @click="option.equip = !option.equip">装备</span>
        </div>
        <div class="container">
          <table>
            <thead>
              <tr>
                <th>番号</th>
                <th>刀名</th>
                <th v-if="option.info">稀有度</th>
                <th v-if="option.info">種類</th>
                <th v-if="option.info">刀派</th>
                <th>等级</th>
                <th>次级经验</th>
                <th v-if="option.info">累计经验</th>
                <th>阶数</th>
                <th>生存</th>
                <th v-if="option.value">打撃</th>
                <th v-if="option.value">統率</th>
                <th v-if="option.value">機動</th>
                <th v-if="option.value">衝力</th>
                <th v-if="option.value">偵察</th>
                <th v-if="option.value">隠蔽</th>
                <th v-if="option.value">範囲</th>
                <th v-if="option.value">必殺</th>
                <th>疲劳</th>
                <th v-if="option.equip">刀装位</th>
                <th v-if="option.equip">刀装</th>
                <th v-if="option.equip">御守</th>
                <th v-if="option.equip">马</th>
                <th v-if="option.info">锁</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="sword in swords.serial" :key="sword.serial_id">
                <td v-text="sword.sword_id"></td>
                <td v-text="sword.name"></td>
                <td v-if="option.info" v-text="sword.hana"></td>
                <td v-if="option.info" v-text="sword.typeName"></td>
                <td v-if="option.info" v-text="sword.styleName"></td>
                <td v-text="sword.level"></td>
                <td>{{sword.nextExp}}</td>
                <td v-if="option.info">{{sword.exp}}</td>
                <td v-text="sword.evoName"></td>
                <td>{{sword.hp}} / {{sword.hp_max}} <em v-if="sword.hp_up > 0">(+{{sword.hp_up}})</em></td>
                <td v-if="option.value">{{sword.atk}} <em v-if="sword.atk_up > 0">(+{{sword.atk_up}})</em></td>
                <td v-if="option.value">{{sword.def}} <em v-if="sword.def_up > 0">(+{{sword.def_up}})</em></td>
                <td v-if="option.value">{{sword.mobile}} <em v-if="sword.mobile_up > 0">(+{{sword.mobile_up}})</em></td>
                <td v-if="option.value">{{sword.back}} <em v-if="sword.back_up > 0">(+{{sword.back_up}})</em></td>
                <td v-if="option.value">{{sword.scout}} <em v-if="sword.scout_up > 0">(+{{sword.scout_up}})</em></td>
                <td v-if="option.value">{{sword.hide}} <em v-if="sword.hide_up > 0">(+{{sword.hide_up}})</em></td>
                <td v-if="option.value" v-text="sword.rangeName"></td>
                <td v-if="option.value" v-text="sword.loyalties"></td>
                <td v-text="sword.vfatigue"></td>
                <td v-if="option.equip" v-text="sword.equipSlot"></td>
                <td v-if="option.equip">{{ sword.equips | all-equip-serial-name }}</td>
                <td v-if="option.equip">{{ sword.item_id | amulet-name}}</td>
                <td v-if="option.equip">{{ sword.horse_serial_id | equip-serial-name }}</td>
                <td v-if="option.info" v-text="sword.protectName"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="title" id="duty">· 内番 ·</div>
      <div v-if="duty.finished_at != null" style="text-align:center;">结束时间：{{duty.finished_at | hhmmss}}</div>
      <div class="title">· 修行 ·</div>
      <div style="text-align:center;">
        <div v-if="evolution.back[0].finished_at == null">修行数据为空。若您有正在修行的刀剑，请刷新游戏以获取数据</div>
        <div v-else>
          <div>修行刀剑：{{evolution.back[0].serial_id | sword-serial-name}}</div>
          <div>归来时间：{{evolution.back[0].finished_at | MMDDhhmmss}}</div>
        </div>
      </div>
      <div class="title" id="item">· 所持道具一覧 ·</div>
      <div class="data-table">
        <table>
          <thead>
            <tr>
              <th>名称</th>
              <th>持有数</th>
              <th>持有上限</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="con in item.consumable" v-if="con.num">
              <td>{{ con.name }}</td>
              <td>{{ con.num || '-' }}</td>
              <td>{{ con.limitNum || '-'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--<div class="title" id="enemy-list">· 敵数値一覧 ·</div>
      <div class="data-table">
        <table style="max-width: 500px;">
          <thead>
            <tr>
              <th>番号</th>
              <th>刀名</th>
              <th>稀有度</th>
              <th>生存</th>
              <th>打撃</th>
              <th>統率</th>
              <th>機動</th>
              <th>衝力</th>
              <th>偵察</th>
              <th>隠蔽</th>
              <th>必殺</th>
              <th>備考</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="sword in enemyList" :key="sword.swordId" v-if="sword.swordId>=100000">
              <td>{{sword.swordId}}</td>
              <td>{{sword.name}}</td>
              <td>{{sword.rarity}}</td>
              <td>{{sword.hp}}</td>
              <td>{{sword.atk}}</td>
              <td>{{sword.def}}</td>
              <td>{{sword.mobile}}</td>
              <td>{{sword.back}}</td>
              <td>{{sword.scout}}</td>
              <td>{{sword.hide}}</td>
              <td>{{sword.loyalties}}</td>
              <td>{{sword.alias}}</td>
            </tr>
          </tbody>
        </table>
      </div>-->
    </div>
  </script>

  <script id="extra" type="text/template">
    <div>
      <div class="logo"></div>
      <div class="title" id="forge-log">· 锻刀記錄 ·</div>
      <div style="text-align: right; float:left; width:50%;" @click="removeLog('ForgeLog')">[清除記録]</div>
      <div style="text-align: left; float:left; width:50%;" @click="saveLog('ForgeLog')">[导出記録]</div>
      <div class="data-table">
        <table style="max-width: 500px;">
          <thead>
            <tr>
              <th>番号</th>
              <th>刀名</th>
              <th>木炭</th>
              <th>玉鋼</th>
              <th>冷却</th>
              <th>砥石</th>
              <th>御札</th>
              <th>结束时间</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="forge in log.forge">
              <td>{{ forge.sword_id || '-' }}</td>
              <td>{{ forge.sword_id | sword-name }}</td>
              <td>{{ forge.charcoal || '-' }}</td>
              <td>{{ forge.steel || '-' }}</td>
              <td>{{ forge.coolant || '-' }}</td>
              <td>{{ forge.file || '-' }}</td>
              <td>{{ forge.use_assist || '-' }}</td>
              <td>{{ forge.finished_at | MMDDhhmmss }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="title" id="battle-log">· 交戦記録 ·</div>
      <div style="text-align: right; float:left; width:50%;" @click="removeLog('BattleLog')">[清除記録]</div>
      <div style="text-align: left; float:left; width:50%;" @click="saveLog('BattleLog')">[导出記録]</div>
      <div class="data-table">
        <table style="max-width: 500px;">
          <thead>
            <tr>
              <th>部隊</th>
              <th>刀名</th>
              <th>時代-地域</th>
              <th>階数</th>
              <th>戦闘地ID</th>
              <th>評価</th>
              <th>戦闘時点</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="battle in log.battle">
              <td>{{ battle.party_no || '-' }}</td>
              <td v-if="battle.category === 3" style="color: red;">{{ battle.get_sword_id | sword-name }}</td>
              <td v-else>{{ battle.get_sword_id | sword-name }}</td>
              <td>{{ battle.episode_id || '-' }}-{{ battle.field_id || '-' }}</td>
              <td>{{ battle.layer_num }}</td>
              <td v-if="battle.category === 3" style="color: red;">{{ battle.square_id }}(Boss)</td>
              <td v-else>{{ battle.square_id }}</td>
              <td>{{ battle.rank | rank-name }}</td>
              <td>{{ battle.now | MMDDhhmmss }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="title" id="practice-log">· 演練記録 ·</div>
      <div style="text-align: right; float:left; width:50%;" @click="removeLog('PracticeLog')">[清除記録]</div>
      <div style="text-align: left; float:left; width:50%;" @click="saveLog('PracticeLog')">[导出記録]</div>
      <div class="data-table">
        <table style="max-width: 500px;">
          <thead>
            <tr>
              <th>部隊</th>
              <th>敵名</th>
              <th>敵LV</th>
              <th>評価</th>
              <th>戦闘時点</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="battle in log.practice">
              <td>{{ battle.party_no || '-' }}</td>
              <td>{{ battle.enemy_name || '-' }}</td>
              <td>Lv.{{ battle.enemy_level }}</td>
              <td>{{ battle.rank | rank-name }}</td>
              <td>{{ battle.now | MMDDhhmmss }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </script>

  <script id="setting" type="text/template">
    <div class="setting-container">
      <div>
        <div class="logo"></div>
        <div class="title" id="setSecretary">· 近侍设置 ·</div>
        <div style="padding: 8px;">
            <p>请输入近侍刀帐号，远征及内番提醒将会显示近侍刀纹</p>
            <input v-model="secretary">
            <p>{{ secretary | sword-name }}</p>
        </div>
      </div>
      <div>
        <div class="title" id="setNotice">· 提醒设置 ·</div>
        <div style="padding: 8px;">
          <p><span>远征提醒</span>  <span class="setNotice" :class="{ active: conquest_notice }" @click="setConfig('conquest_notice', true)">[开启]</span>  <span class="setNotice" :class="{ active: !conquest_notice }" @click="setConfig('conquest_notice', false)">[关闭]</span> </p> 
          <p><span>内番提醒</span>  <span class="setNotice" :class="{ active: duty_notice }" @click="setConfig('duty_notice', true)">[开启]</span>  <span class="setNotice" :class="{ active: !duty_notice }" @click="setConfig('duty_notice', false)">[关闭]</span></p>
          <p><span>锻刀提醒</span>  <span class="setNotice" :class="{ active: forge_notice }" @click="setConfig('forge_notice', true)">[开启]</span>  <span class="setNotice" :class="{ active: !forge_notice }" @click="setConfig('forge_notice', false)">[关闭]</span></p>
          <p><span>战斗提醒</span>  <span class="setNotice" :class="{ active: hurt_notice }" @click="setConfig('hurt_notice', true)">[开启]</span>  <span class="setNotice" :class="{ active: !hurt_notice }" @click="setConfig('hurt_notice', false)">[关闭]</span></p>
          <p><span>手入提醒</span>  <span class="setNotice" :class="{ active: repair_notice }" @click="setConfig('repair_notice', true)">[开启]</span>  <span class="setNotice" :class="{ active: !repair_notice }" @click="setConfig('repair_notice', false)">[关闭]</span></p>
        </div>
      </div>
      <div>
        <div class="title" id="about">· 关于 ·</div>
        <div style="padding: 8px;">
          <ul>
            <li>
            <p>（甩锅）大佬：<u href="http://weibo.com/moelynn" target="_blank">@毫无存在感的凌</u></p>
            <p>（接锅）萌新：<u href="https://weibo.com/u/5381086937" target="_blank">@黎浮_</u></p>
            <p>（第三棒）渣渣：<u href="https://weibo.com/u/3516818005/" target="_blank">@FnEnustik</u>（你可以叫我哲也）</p>
            </li>
            <li>
              <b>版本：v1.1.4</b>
              <p>记录导出</p>
              <p>远征提醒和内番提醒bug修正</p>
              <p>战报增加刀装破坏提示</p>
              <p>增加索敌阵型提示</p>
              <p>刀纹读取修正</p>
              <p>审神者信息bug修正</p>
            </li>
            <li>
              <b>版本：v1.1.3</b>
              <p>疲劳49以下的bug修复</p>
              <p>演练记录单独显示</p>
              <p>演练后疲劳有误bug修复</p>
              <p>敌刀及演练对手剧透</p>
              <p>新活动地图及敌刀图片添加</p>
              <p>UI调整</p>
              <p>时间bug修正及格式调整</p>
            </li>
            <li>
              <b>版本：v1.1.2</b>
              <p>解决出战后马的状态显示bug</p>
              <p>战斗中刀装损失后颜色改变</p>
              <p>改变插件宽度时资源栏显示会改变（尽量缩在一行）</p>
              <p>各种提醒以及剧透的开关</p>
              <p>锻刀记录和战斗记录可清除（清除后需要重新加载刷新）</p>
            </li>
            <li>
              <b>版本：v1.1.1</b>
              <p>增加了联队战和演练的战况更新</p>
              <p>增加了加速以及小判显示，物品列表显示，刀剑列表御守佩戴情况显示</p>
              <p>添加了刀帐立绘收集不全列表（需要先点开刀账）</p>
              <p>不用每次都重进结成了，战斗中关闭插件（理论上）也可以载入数据</p>
              <p>（建议还是尽量进一次结成防止意外bug）</p>
              <p>修正了战斗记录每次都重新记的bug</p>
              <p>修改了战斗记录的形式，显示战斗点id和层数，取消获得刀剑刀帐号表示</p>
              <p>远征不间断提醒bug（疑似）修复成功</p>
            </li>
            <li>
              <b>之后版本希望添加的功能：</b>
              <p>刀名自定义魔改</p>
              <p>刀纹自动更新</p>
              <p>活动地图绘制</p>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </script>
  
  <!-- Vue -->
  <script src="../../vendor/vue.js"></script>
  <script src="../../vendor/vuex.js"></script>
  <script src="../../vendor/vue-router.js"></script>
  <!-- Library -->
  <script src="../../vendor/jquery.js"></script>
  <script src="../../vendor/lodash.js"></script>
  <script src="../../vendor/bluebird.min.js"></script>
  <script src="../../vendor/moment.min.js"></script>
  <!-- ZLib -->
  <script src="../../vendor/pako.min.js"></script>
  <!-- Crypto -->
  <script src="../../vendor/aes.js"></script>
  <script src="../../vendor/mode-ecb.js"></script>
  <script src="../../vendor/lib-typedarrays.js"></script>
  <script src="../../vendor/pad-nopadding-min.js"></script>
  <!--MD5-->
  <script src="../../vendor/jquery.md5.js"></script>
  <!-- Data -->
  <script src="../../vendor/FileSaver.js"></script>
  <script src="../../vendor/localforage.min.js"></script>
  <!-- Util -->
  <script src="util/data.js"></script>
  <!-- app -->
  <script data-main="loader" src="../../vendor/require.js"></script>
</body>
</html>