doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="assets/main.css")
    script(src="../../thirdparty/livereload.js")
  body#app
    ul.top
      li
        | 審神者
        b(v-if="view.player.name!=null")
          | {{view.player.name}}
      li(v-if="view.player.level!=null")
        | Lv.
        b {{view.player.level}}
      li(v-if="!view.resource.set")
        | 暂未获取到资源数据，请进入本丸或锻刀页面
      li(v-if="view.resource.charcoal!=null")
        | 木炭
        b {{view.resource.charcoal}}
      li(v-if="view.resource.steel!=null")
        | 玉鋼
        b {{view.resource.steel}}
      li(v-if="view.resource.coolant!=null")
        | 冷却材
        b {{view.resource.coolant}}
      li(v-if="view.resource.file!=null")
        | 砥石
        b {{view.resource.file}}
      li(v-if="view.resource.bill!=null")
        | 依頼札
        b {{view.resource.bill}}
      li(v-if="view.resource.bonemeal!=null")
        | 手伝い札
        b {{view.resource.bonemeal}}
      li(v-if="view.resource.money!=null")
        | 小判
        b {{view.resource.money}}
    ul.nav
      li
        | 总览
      li
        | 战斗
      li
        | 队伍
      li
        | 刀装
      li
        | 锻刀
      li
        | 设置
      li
        | 关于
    .container
      include ./template/party_item.jade
    script(src="../../thirdparty/lodash.js")
    script(src="../../thirdparty/jquery.js")
    script(src="../../thirdparty/vue.js")
    script(src="./app/define.js")
    script(src="./app/data.js")
    script(src="./app/store.js")
    script(src="./app/event.js")
    script(src="./app/parse.js")
    script(src="./app/router.js")
    script(src="./app/view.js")
    script(src="./app/app.js")
