* {
  -webkit-text-size-adjust: none;
  font-size: 12px;
}
html {
  min-height: 100%;
}

body {
  font-family: "ST Heiti", Ubuntu, "Helvetica Neue", Helvetica, "Nimbus Sans L", "Open Sans", "Roboto", "Segoe WP", "Segoe UI", arial, "Liberation Sans", freesans, clean, "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans CJK TC", "Source Han Sans TW", "Noto Sans CJK JP", "Source Han Sans JP", "Noto Sans CJK", "Source Han Sans", "Microsoft YaHei UI", "Microsoft YaHei", DengXian, "Wenquanyi Micro Hei",  "Droid Sans Fallback", "Microsoft JhengHei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #eadaba;
  background-image: url("../../static/ui/bgs.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 100%;
  padding: 3px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > li {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
}
.hover{
  cursor: pointer;
}

.check-data {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  background: #efdeb0;
  color: #233333;
  padding: 24px;
}

.check-data .check-title {
  font-size: 24px;
  line-height: 2;
  margin: 24px 0;
  font-weight: bold;
}

.check-data .check-item-title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}

.check-data .check-item {
  margin-top: 24px;
}

.check-data .check-item span {
  font-size: inherit;
}

.check-data .check-item p {
  font-size: 16px;
}

.sidebar{
  max-width: 200px;
}

.player {
  overflow: hidden;
  width:190px;
  height:50px;
  background: rgba(255,255,255,0.7);
  border-radius: 5px;
  padding: 5px;
}
.player .player-level{
  width:60px;
  height:50px;
  float:right;
  color:#000000;
}
.player .player-level-text{
  width:60px;
  height:24px;
  line-height:24px;
  font-size:12px;
  text-align:center;
  overflow:hidden;
}
.player .player-level-box{
  width:60px;
  height:4px;
  background: #888888;
  border-radius: 2px;
}
.player .player-level-bar{
  background: #7fbbe9;
  border-radius: 2px;
}
.player .player-exp-next{
  font-size: 10px;
  height: 10px;
  text-align: center;
  margin-top: 5px;
}
.player .player-name{
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro", "Hiragino Mincho ProN", "MS P明朝", "MS PMincho", "HGS明朝E", "MS Mincho", "KaiTi", "DFKai-SB", "BiauKai", "KaiTi_GB2312", "Georgia"; 
  width:130px;
  height:28px;
  line-height:28px;
  font-size:20px;
  float:left;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  color: #cc4c45;
  font-weight: bold;
}
.player .player-created-at{
  float:left;
  width:130px;
  height:20px;
  line-height:20px;
  font-size:12px;
  color: #111111;
  }
.activity {
  width:200px;
  height:300px;
  margin-top: 5px;
}
.activity .activity-tabs{
  width:192px;
  height:20px;
  padding:0px 0px 0px 8px;
}
.activity .activity-tab{
  background: rgba(255,255,255,0.5);
  width:60px;
  height:20px;
  line-height:20px;
  font-size:11px;
  margin:0px 2px 0px 0px;
  color:#000;
  float:left;
  text-align:center;
  border-radius:5px 5px 0px 0px;
  filter:brightness(0.5) opacity(0.62);
  -webkit-filter:brightness(0.5) opacity(0.62);
  outline:none;
}
.activity .activity-tab.router-link-active{
  background: rgba(255,255,255,0.7);
  filter:brightness(1);
  -webkit-filter:brightness(1);
}
.activity .activity-content{
  padding-top: 6px;
  background: rgba(255,255,255,0.7);
  width:200px;
  height:305px;
  border-radius:5px;
  overflow:scroll;
  white-space:initial;
  }
.resource {
  height: 85px;
}
.resource .resource-element{
  text-align: right;
  margin-left: 6px;
  width: 91px;
  float: left;
  height: 20px;
}
.resource .resource-icon{
  float: left;
  width: 18px;
  height: 18px;
}
.conquest{
  height: 55px;
}
.conquest-item{
  width: 66px;
  float: left;
  height: 50px;
  text-align:center;
}
.conquest-name{
  position: relative;
  top: -60px;
  left: 0px;
  text-align: left;
}
.repair{
  float: left;
  padding: 5px;
  width: 90px;
  height: 80px;
}
.repair-icon{
  border: 1px solid #7e8a9e;
}
.forge{
  float: left;
  padding: 5px;
  width: 90px;
  height: 80px;
}
.forge-icon{
  border: 1px solid #9e7e7e;
}
.duty{
  padding-top: 8px;
  float: left;
  width: 120px;
  height: 55px;
  text-align: center;
}
.duty-icon{
  margin-left: 5px;
  margin-right: 5px;
}
.evolution{
  float: left;
  width: 80px;
  height: 60px;
  text-align: center;
}
.main-content{
  position: absolute;
  top: 0px;
  left: 205px;
  min-height: 100%;
  min-width: 300px;
  padding: 5px;
  overflow: scroll;
}
.party-buttons{
  height: 40px;
}
.party-buttons .party-button{
  border: 2px solid rgba(0,0,0,0);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
  float: left;
  background: rgba(20,20,20,0.2);
  color: #333333;
  text-align: center;
  margin-left: 10px;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}
.party-buttons .party-button.selected{
  background: #a8292b;
  color: #eeeeee;
}
.party-buttons .party-button.conquest{
  border: 2px solid #6d57b3;
}
.party-member-list{
  overflow: scroll;
  min-height: 300px;
}

.party-status{
  font-size: 12px;
}
.party-status-text{
  font-size: 11px;
  background: #ffeecc;
  border-radius: 4px;
  padding: 2px;
  margin: 2px;
  font-weight: bold;
}
.party-status-value{
  font-size: 12px;
  padding: 2px;
  margin: 2px;
  font-weight:bold;
  color: #000000;
  text-decoration: underline;
}
.large-pattern {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  overflow: hidden;
  background-color: rgba(201,190,169,0.7);
}
.medium-pattern {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
  background-color: rgba(201,190,169,0.7);
}
.small-pattern {
  background-color: rgba(201,190,169,0.7);
  width: 16px;
  height: 16px;
  border-radius: 100%;
  overflow: hidden;
}

.touken-info {
  position: relative;
  background-color: #eadaba;
  border-radius: 8px;
  height: 54px;
  padding: 2px;
  margin: 2px 0px 0px 4px;
  float: left;
  min-width: 330px;
}
.touken-info .pattern {
  width: 48px;
  height: 48px;
}
.enemyPattern {
  width: 96px;
  height: 24px;
}
.dead img{
  filter: grayscale(1);
}
.touken-info .info {
  position: absolute;
  height: 48px;
  top: 2px;
  left: 54px;
  right: 2px;
  color: #000;
}
.touken-info .info > div {
  float: left;
  width: 50%;
}
.touken-info .info > .name,
.touken-info .info > .fatigue {
  height: 18px;
  line-height: 18px;
  font-size: 14px;
}

.touken-info .info > .name > span {
  font-size: 80%;
  font-weight: bold;
}

.touken-info .info > .hp > span {
  font-size: inherit;
}

.touken-info .info > .hp {
  width:38%;
  height:14px;
  font-size: 10px;
  font-color: #fefefe;
  white-space: nowrap;
  text-align: center;
  border-radius:5px 5px 5px 5px;
  margin-top:2px !important;
  margin-right:2px !important;
  overflow: hidden;
  border: gray hidden 1px;
  line-height: 13px;
}
.hpbox {
  width:100%;
  background: #c1c1c1;
}
.touken-info .info > .hp > .hptext{
  position: absolute !important;
  width: inherit;
}
.hpbar{
  background: #43886e;
  width: 50%
}
.hpbar.recovery{
  background: #EDC600;
}
.hpbar.damaged{
  background: #ff7e02;
}
.hpbar.warning{
  background: #f00204;
}
.hpbar.danger{
  background: #AF0104;
}
.touken-info .info > .level {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  white-space: nowrap;
}

.touken-info .info > .fatigue {
  background: #7DE497;
  border-radius: 10px;
  padding: 1px;
  width: 15% !important;
  margin-right: 1%;
  text-align: center;
  box-shadow: 0 0 10px #6DE397;
  color: #fff;
}

.touken-info .info > .fatigue.tired {
  background: #ffa500;
  box-shadow: 0 0 10px #ff9400;
}

.touken-info .info > .fatigue.very-tired {
  background: #e80000;
  box-shadow: 0 0 10px #e00000;
}

.touken-info .info > .fatigue.perfect {

  background: #ffb6c1;
  box-shadow: 0 0 10px #ffb6c1;
}
.touken-info .info > .horse {
  border-radius: 5px;
  width: 15% !important;
  color: #fff;
  background: #63481D;
  overflow: hidden;
  text-align: center;
  margin-top:2px !important;
  margin-right: 1%;
  font-size: 10px;
  height: 14px;
  line-height: 16px;
}
.touken-info .info > .amulet {
  border-radius: 5px;
  width: 15% !important;
  color: #fff;
  background: #1c633b;
  overflow: hidden;
  text-align: center;
  margin-top:2px !important;
  margin-right: 1%;
  font-size: 10px;
  height: 14px;
  line-height: 16px;
}
.touken-info .info > .equip {
  width: 57% !important;
  margin-top:2px !important;
  height: 14px;
  line-height: 16px;

}
.touken-info .info > .equip > ul > li {
  border-radius: 5px;
  width: 33%;
  font-size: 10px;
  float: left;
  text-align: center;
  color: #f3f8f2;
  background: #c1c1c1;
  white-space: nowrap;

}
.touken-info .info > .equip > ul > li.sr {
  background: #8e770b;
}
.touken-info .info > .equip > ul > li.r {
  background: #404040;
}
.touken-info .info > .equip > ul > li.n {
  background: #146b2b;
}
.touken-info .info > .equip > ul > li.destroyed {
  box-shadow: 0 0 10px #e00000;
}
.touken-info .info > .equip > ul > li:not(:last-child) {
  margin-right: 0.5%;
}

.touken-info.recovery .info > .name > span, 
.touken-info.recovery .info > .hp > span {
  color: rgba(219, 182, 16, 0.9);
}

.touken-info.damaged .info > .name > span, 
.touken-info.damaged .info > .hp > span {
  color: rgba(172, 108, 13, 0.91);
}

.touken-info.warning .info > .name > span, 
.touken-info.warning .info > .hp > span {
  color: #de0000;
}

.touken-info.danger .info > .name > span, 
.touken-info.danger .info > .hp > span {
  color: #fff;
}

.touken-info.danger {
  background: #a70000;
}

.touken-info.warning {
  background: #b9a410;
}
.touken-info.repair {
  background: rgba(166,209,242,0.9);
}
.touken-info.danger *, 
.touken-info.warning * {
  color: #fff !important;
}

.touken-info.danger img, 
.touken-info.warning img {
  filter: grayscale(1);
}
.fake-title{
  max-width:500px; 
}

.fake-title:hover::before{
  content:attr(data-msg);
  margin: 20px;
  padding:2px 6px;
  position: absolute;
  display:inline-block;
  overflow: scroll;
  color:#333;
  border-radius:5px;
  font-size:14px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 4px #777;
  white-space: pre;
}

.fake-title:hover::after{
  content:"";
  z-index: 1000;
  position: absolute;
}

.sally-info{
  color:#cc4c45;
  font-weight: bold;
  font-size: 12px;
  padding-left: 8px; 
}
.map-info {
  padding-left: 8px;
  padding-top: 2px;
  height: 30px;
}

.title {
  font-size: 200%;
  font-weight:bold;
  padding: 2px;
  text-align: center;
}
.data-table {
  box-sizing: border-box;
  padding: 4px;
  font-size: 12px;
}
.data-table > table {
  width: 100%;
  max-width: 300px;
}
.data-table table {
  margin: 0 auto;
}
em {
  font-style: normal;
  font-size: 80%;
  color: #9d2932;
}
table {
  text-align: center;
}
thead > tr {
  background: #a78560;
}
thead > tr > th {
  padding: 0px;
}
tbody > tr:nth-child(even) {
  background: #e6c979;
}
tbody td:nth-child(even) {
  background: rgba(171, 127, 72, 0.4);
}

.logo {
  margin-top: 18px;
  padding-top: 70px;
  background-image: url(../../static/ui/baika.png);
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  font-size: 20px;
}
.option {
  text-align: center;
  margin: 24px 0;
}
.switcher {
  padding: 4px 8px;
  margin: 0 16px;
  cursor: pointer;
}
.switcher.active {
  text-decoration: line-through;
  color: #666;
}
.switcher:hover {
  background: #efdeb0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.setNotice.active {
  color: rgb(255, 59, 59);
}

/*@media (max-width: 350px) {
  .resource > ul.fr > li:nth-last-child(-n+2) {
    display: none;
  }
}

#debug-cover {
  position: fixed;
  z-index: 99999;
  bottom: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1001;
}
/*.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* 提示工具左侧 */
/*    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}*/

