// 设置
- var dt = Date()
div(
  v-show="tab==-2"
)
  .panel-about
    .t 审神忙 · Tohken Ranbu Helper
    ul.sl
      li
        .desc
          | 当前版本： V0.2.0 (Beta)
        .desc
          | 构建时间： #{dt}
        .desc
          | 项目仓库：
          a(href="https://github.com/hitomi/tohken")
            | https://github.com/hitomi/tohken
  .panel-about
    .t STAFF
    ul.sl
      li
        .act
          | 攻城狮
        .desc
          | 求助攻！求一起战斗！
        .desc
          a(href="http://weibo.com/moelynn" target="_blank")
            | @毫无存在感的凌
      li
        .act
          | 攻略组
        .desc
          | 各位测试组成员天天帮忙踩坑跑图拿数据和抓虫OwO，超辛苦的！万分感谢！！没有你们就没法这么快的把新版本坑出来！
        .desc
          a(href="http://weibo.com/NKSan" target="_blank")
            | @1tuka
        .desc
          a(href="http://weibo.com/u/2206048461" target="_blank")
            | @生亦求喂食
        .desc
          a(href="http://weibo.com/sr34v5" target="_blank")
            | @Rabbit_仙鹤归家w
        .desc
          a(href="http://weibo.com/moyuchaoren" target="_blank")
            | @茈予-安详地舔舔舔
        .desc
          a(href="http://weibo.com/koei327" target="_blank")
            | @常暗_PETY亚洲善待山姥切国広组
      li
        .act
          | 感谢
        .desc
          | 刀纹和资料
        .desc
          a(href="http://wikiwiki.jp/toulove" target="_blank")
            | Toulove
        .desc
          | 帮咱解读了不少百科上的内容（咱日语废）
        .desc
          a(href="http://weibo.com/huihuiowo" target="_blank")
            | @幸好我长的帅
        .desc
          | 前期测试协助，另外戳过去能看到会动可以戳还会说话的Live2D动态壁纸哦！
        .desc
          a(href="http://weibo.com/546246695" target="_blank")
            | @高庄主-蹲等魔界战记5
  .panel-about
    .t 目前已知BUG
    ul.sl
      li
        .act
          | 手入时使用手伝い札时提醒不会消失
        .act
          | 小判数量不会变化
        .act
          | 界面特别窄时字会堆在一起

  .panel-about
    .t 更新公告
    ul.sl
      li
        .act
          | v0.2.0 150315
        .desc
          | * 远征提醒修复
        .desc
          | + 手入提醒
        .desc
          | + 疲劳演算
        .desc
          | + 刀装汇总
        .desc
          | + 锻刀和掉落统计
      li
        .act
          | v0.1.3 150304
        .desc
          | * 更完善的修复了提醒失效问题(感谢微博
          a(href="http://weibo.com/moyuchaoren" target="_blank")
            | @茈予-安详地舔舔舔
          | 提供的错误报告截图，感谢
          a(href="http://weibo.com/koei327" target="_blank")
            | @常暗_PETY亚洲善待山姥切国広组
          | 进行测试汇报)
        .desc
          | 追加平均等级和等级总和的显示功能，等级总和在鼠标悬停在平均等级上时会出现(微博
          a(href="http://weibo.com/NKSan" target="_blank")
            | @1tuka
          | )
      li
        .act
          | v0.1.2 150304
        .desc
          | 紧急修复提醒失效问题(微博
          a(href="http://weibo.com/moyuchaoren" target="_blank")
            | @茈予-安详地舔舔舔
          | )
      li
        .act
          | v0.1.1 150304
        .desc
          | 修正了99级时的显示问题(来自贴吧@catofsickle)
        .desc
          | 追加设置页面，可以开启和关闭部分提醒功能
        .desc
          | 增加战斗过程中的爆刀剧透功能，请在设置页面中手工开启(微博
          a(href="http://weibo.com/60046002" target="_blank")
            | @天見禎芽-目指立派前野厨
          | )



