// 设置
- var dt = Date()
div(
  v-show="tab==-2"
)
  .panel-about
    .t 审神忙 · Tohken Ranbu Helper
    ul.sl
      li
        .desc
          | 当前版本： V0.2.0 (Beta)
        .desc
          | 更新时间： #{dt}
        .desc
          | 项目仓库：
          a(href="https://github.com/hitomi/tohken")
            | https://github.com/hitomi/tohken
  .panel-about
    .t STAFF
    ul.sl
      li
        .act
          | 攻城狮
        .desc
          | 求助攻！求一起战斗！
        .desc
          a(href="http://weibo.com/moelynn" target="_blank")
            | @毫无存在感的凌
      li
        .act
          | 攻略组
        .desc
          | 各位测试组成员天天帮忙踩坑跑图拿数据和抓虫OwO，万分感谢！没有你们就没法这么快的把新版本坑出来！
        .desc
          a(href="http://weibo.com/NKSan" target="_blank")
            | @1tuka
        .desc
          a(href="http://weibo.com/u/2206048461" target="_blank")
            | @生亦求喂食
        .desc
          a(href="http://weibo.com/sr34v5" target="_blank")
            | @Rabbit_仙鹤归家w
        .desc
          a(href="http://weibo.com/moyuchaoren" target="_blank")
            | @茈予-安详地舔舔舔
        .desc
          a(href="http://weibo.com/koei327" target="_blank")
            | @常暗_PETY亚洲善待山姥切国広组
      li
        .act
          | 感谢
        .desc
          | 刀纹和资料
        .desc
          a(href="http://wikiwiki.jp/toulove" target="_blank")
            | Toulove
        .desc
          | 翻译协助
        .desc
          a(href="http://weibo.com/huihuiowo" target="_blank")
            | @幸好我长的帅
        .desc
          | 前期测试协助，另外戳过去能看到会动可以戳还会说话的Live2D动态壁纸哦！
        .desc
          a(href="http://weibo.com/546246695" target="_blank")
            | @高庄主-蹲等魔界战记5

  .panel-about
    .t 更新公告
    ul.sl
      li
        .act
          | *
        .desc
          | *
      li
        .act
          | *
        .desc
          | *

