.equip-list(
  v-if = "tab==4"
)
  .name
    | 刀装总览
  .amounts
    span.alv
      | 装备
      b 71
    span.lva
      | 持有
      b 426
  ul.equ
    li
      | [轻骑兵·特上] 持有 10 装备 10
    li
      | [轻骑兵·特上] 持有 10 装备 10
    li
      | [轻骑兵·特上] 持有 10 装备 10

