.forge-rep(
  v-if = "tab==5"
)
  .name
    | 锻造
  .amounts
    span.alv
      | 工坊
      b 2
    span.lva
      | 使用中
      b 1
  ul.equ
    li
      | [3:00] ???
    li
      | [3:00] ???
  .name
    | 手入
  .amounts
    span.alv
      | 工坊
      b 2
    span.lva
      | 使用中
      b 1
  ul.equ
    li
      | [3:00] 歌仙兼定
    li
      | [3:00] 歌仙兼定
